<!--<div class="row">
    <div class="column">
      <img src="assets/img/alabama.png" id="alabama" alt="alabama" style="height:100%">
    </div>
    <div class="column">
      <img src="assets/img/alaska.png" id="alaska" alt="alaska" style="width:100%">
    </div>
    <div class="column">
        <img src="assets/img/grand-canyon.JPEG" id="arizona" alt="arizona">
    </div>
  </div> -->

  <table width="99%">
    <tr>
        <td>
            <img src="assets/img/alabama2.PNG" class="photos" id="alabama" alt="alabama">
            <div class="centered"></div>
            <p class="under-photo">ALABAMA</p>
        </td>
        <td>
                <img src="assets/img/alaska2.PNG" class="photos" id="alaska" alt="alaska">
                <p class="under-photo">ALASKA</p>
        </td>
        <td>
            <img src="assets/img/arizona.PNG" class="photos" id="arizona" alt="arizona" >
            <p class="under-photo"><a href="https://printatestpage.com/">ARIZONA</a></p>

        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/img/arkansas.PNG" class="photos" id="arkansas" alt="arkansas">
            <p class="under-photo">ARKANSAS</p>

        </td>
        <td>
            <img src="assets/img/california.PNG" class="photos" id="california" alt="california">
            <p class="under-photo">CALIFORNIA</p>

        </td>
        <td>
            <img src="assets/img/colorado.PNG" class="photos" id="colorado" alt="colorado">
            <p class="under-photo">COLORADO</p>

        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/img/connecticut.PNG" class="photos" id="connecticut" alt="connecticut">
            <p class="under-photo">CONNECTICUT</p>

        </td>
        <td>
            <img src="assets/img/deleware.PNG" class="photos" id="deleware" alt="deleware">
            <p class="under-photo">DELEWARE</p>

        </td>
        <td>
            <img src="assets/img/florida.PNG" class="photos" id="florida" alt="florida">
            <p class="under-photo">FLORIDA</p>

        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/img/georgia.PNG" class="photos" id="georgia" alt="georgia">
            <p class="under-photo">GEORGIA</p>
        </td>

        <td>
            <img src="assets/img/hawaii.PNG" class="photos" id="hawaii" alt="hawaii">
            <p class="under-photo">HAWAII</p>
        </td>
            <img src="assets/img/idaho.PNG" class="photos" id="idaho" alt="idaho">
            <p class="under-photo">IDAHO</p>
        <td>

        </td>
    </tr>
  </table>
