<!--<div class="row">
    <div class="column">
      <img src="assets/img/alabama.png" id="alabama" alt="alabama" style="height:100%">
    </div>
    <div class="column">
      <img src="assets/img/alaska.png" id="alaska" alt="alaska" style="width:100%">
    </div>
    <div class="column">
        <img src="assets/img/grand-canyon.JPEG" id="arizona" alt="arizona">
    </div>
  </div> -->

  <table width="99%">
    <tr>
        <td>
            <img src="assets/img/alabama.png" class="photos" id="alabama" alt="alabama">
            <div class="centered"></div>
            <p class="under-photo">THIS IS A TEST</p>
        </td>
        <td>
                <img src="assets/img/alaska.png" class="photos" id="alaska" alt="alaska">
                <p class="under-photo">THIS IS A TEST</p>
        </td>
        <td>
            <img src="assets/img/arizona.JPEG" class="photos" id="arizona" alt="arizona" >
            <p class="under-photo"><a href="https://printatestpage.com/">THIS IS A TEST</a></p>

        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/img/arkansas.JPEG" class="photos" id="arkansas" alt="arkansas">
            <p class="under-photo">THIS IS A TEST</p>

        </td>
        <td>
            <img src="assets/img/california.JPEG" class="photos" id="california" alt="california">
            <p class="under-photo">THIS IS A TEST</p>

        </td>
        <td>
            <img src="assets/img/colorado.JPEG" class="photos" id="colorado" alt="colorado">
            <p class="under-photo">THIS IS A TEST</p>

        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/img/connecticut.JPEG" class="photos" id="connecticut" alt="connecticut">
            <p class="under-photo">THIS IS A TEST</p>

        </td>
        <td>
            <img src="assets/img/deleware.JPEG" class="photos" id="deleware" alt="deleware">
            <p class="under-photo">THIS IS A TEST</p>

        </td>
        <td>
            <img src="assets/img/florida.JPEG" class="photos" id="florida" alt="florida">
            <p class="under-photo">THIS IS A TEST</p>

        </td>
    </tr>
  </table>
