<!--<div class="row">
    <div class="column">
      <img src="assets/img/alabama.png" id="alabama" alt="alabama" style="height:100%">
    </div>
    <div class="column">
      <img src="assets/img/alaska.png" id="alaska" alt="alaska" style="width:100%">
    </div>
    <div class="column">
        <img src="assets/img/grand-canyon.JPEG" id="arizona" alt="arizona">
    </div>
  </div> -->

  <table width="99%">
    <tr>
        <td>
            <img src="assets/img/alabama2.PNG" class="photos" id="alabama" alt="alabama">
            <div class="centered"></div>
            <p class="under-photo">ALABAMA</p>
        </td>
        <td>
                <img src="assets/img/alaska2.PNG" class="photos" id="alaska" alt="alaska">
                <p class="under-photo">ALASKA</p>
        </td>
        <td>
            <img src="assets/img/arizona.PNG" class="photos" id="arizona" alt="arizona" >
            <p class="under-photo"><a href="https://printatestpage.com/">ARIZONA</a></p>

        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/img/arkansas.PNG" class="photos" id="arkansas" alt="arkansas">
            <p class="under-photo">ARKANSAS</p>

        </td>
        <td>
            <img src="assets/img/california.PNG" class="photos" id="california" alt="california">
            <p class="under-photo">CALIFORNIA</p>

        </td>
        <td>
            <img src="assets/img/colorado.PNG" class="photos" id="colorado" alt="colorado">
            <p class="under-photo">COLORADO</p>

        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/img/connecticut.PNG" class="photos" id="connecticut" alt="connecticut">
            <p class="under-photo">CONNECTICUT</p>

        </td>
        <td>
            <img src="assets/img/deleware.PNG" class="photos" id="deleware" alt="deleware">
            <p class="under-photo">DELEWARE</p>

        </td>
        <td>
            <img src="assets/img/florida.PNG" class="photos" id="florida" alt="florida">
            <p class="under-photo">FLORIDA</p>

        </td>
    </tr>

    <tr>
        <td>
            <img src="assets/img/georgia.PNG" class="photos" id="georgia" alt="georgia">
            <p class="under-photo">GEORGIA</p>
        </td>

        <td>
            <img src="assets/img/hawaii.PNG" class="photos" id="hawaii" alt="hawaii">
            <p class="under-photo">HAWAII</p>
        </td>
            <img src="assets/img/idaho.PNG" class="photos" id="idaho" alt="idaho">
            <p class="under-photo">IDAHO</p>
        <td>

        </td>
    </tr>

    <tr>
        <td>
            <img src="assets\img\kansas2.JPG" class="photos" id="kansas" alt="kansas">
            <p class="under-photo">KANSAS</p>
        </td>

        <td>
            <img src="assets\img\kentucky2.JPG" class="photos" id="kentucky" alt="kentucky">
            <p class="under-photo">KENTUCKY</p>
        </td>

        <td>
            <img src="assets\img\louisiana2.JPG" class="photos" id="louisiana" alt="louisiana">
            <p class="under-photo">LOUISIANA</p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets\img\maine2.JPG" class="photos" id="maine" alt="maine">
            <p class="under-photo">MAINE</p>
        </td>

        <td>
            <img src="assets\img\maryland2.JPG" class="photos" id="maryland" alt="maryland">
            <p class="under-photo">MARYLAND</p>
        </td>

        <td>
            <img src="assets\img\massachusetts2.JPG" class="photos" id="massachusetts" alt="massachusetts">
            <p class="under-photo">MASSACHUSETTS</p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets\img\michigan3.JPG" class="photos" id="michigan" alt="michigan">
            <p class="under-photo">MICHIGAN</p>
        </td>

        <td>
            <img src="assets\img\minnesota2.JPG" class="photos" id="minnesota" alt="minnesota">
            <p class="under-photo">MINNESOTA</p>
        </td>

        <td>
            <img src="assets\img\mississippi.JPG" class="photos" id="mississippi" alt="mississippi">
            <p class="under-photo">MISSISSIPPI</p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets\img\missouri2.JPG" class="photos" id="missouri" alt="missouri">
            <p class="under-photo">MISSOURI</p>
        </td>

        <td>
            <img src="assets\img\montana3.JPG" class="photos" id="montana" alt="montana">
            <p class="under-photo">MONTANA</p>
        </td>

        <td>
            <img src="assets\img\nebraska.JPG" class="photos" id="nebraska" alt="nebraska">
            <p class="under-photo">NEBRASKA</p>
        </td>

    </tr>

    <tr>
        <td>
            <img src="assets\img\nevada.JPG" class="photos" id="nevada" alt="nevada">
            <p class="under-photo">NEVADA</p>
        </td>

        <td> 
            <img src="assets\img\new-hampshire.JPG" class="photos" id="new-hampshire" alt="new-hampshire">
            <p class="under-photo">NEW HAMPSHIRE</p>
        </td>

        <td>
            <img src="assets\img\new-jersey2.JPG" class="photos" id="new-jersey" alt="new-jersey">
            <p class="under-photo">NEW JERSEY</p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets\img\new-mexico.JPG" class="photos" id="new-mexico" alt="new-mexico">
            <p class="under-photo">NEW MEXICO</p>
        </td>
        <td>
            <img src="assets\img\new-york.JPG" class="photos" id="new-york" alt="new-york">
            <p class="under-photo">NEW YORK</p>
        </td>
        <td>
            <img src="assets\img\north-carolina.JPG" class="photos" id="north-carolina" alt="north-carolina">
            <p class="under-photo">NORTH CAROLINA</p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets\img\north-dakota.JPG" class="photos" id="north-dakota" alt="north-dakota">
            <p class="under-photo">NORTH DAKOTA</p>
        </td>
        <td>
            <img src="assets\img\ohio.JPG" class="photos" id="ohio" alt="ohio">
            <p class="under-photo">OHIO</p>
        </td>
        <td>
            <img src="assets\img\oklahoma.JPG" class="photos" id="oklahoma" alt="oklahoma">
            <p class="under-photo">OKLAHOMA</p>
        </td>
    </tr>

    <tr>
        <td>
            <img src="assets\img\oregon.JPG" class="photos" id="oregon" alt="oregon">
            <p class="under-photo">OREGON</p>
        </td>
        <td>
            <img src="assets\img\pennsylvania.JPG" class="photos" id="pennsylvania" alt="pennsylvania">
            <p class="under-photo">PENNSYLVANIA</p>
        </td>
        <td>
            <img src="assets\img\rhode-island.JPG" class="photos" id="rhode-island" alt="rhode-island">
            <p class="under-photo">RHODE ISLAND</p>
        </td>
    </tr>
  </table>
